body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Override default Ant style */

.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: inherit;
}

.ant-menu-dark,
.ant-menu-dark .ant-menu-sub {
  background-color: #135200;
}

.ant-input:focus {
  border-color: #135200;
}

.ant-btn-primary,
.ant-btn-primary:focus {
  background-color: #135200;
  border-color: #135200;
}

.ant-btn-primary:hover {
  background-color: #135200;
}

.ant-menu-item:hover,
.ant-menu-item-active,
.ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-submenu-active,
.ant-menu-submenu-title:hover {
  color: #ffffff;
}

a.leaflet-bar,
a.leaflet-bar:hover,
a.leaflet-control-zoom-in,
a.leaflet-control-zoom-in:hover,
a.leaflet-control-zoom-out,
a.leaflet-control-zoom-out {
  width: 3em;
  height: 3em;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leaflet-container.crosshair-cursor-enabled {
  cursor:crosshair;
}
